/* Chat containers */

.container {
  width: 200px;
  border: 2px solid #dedede;
  background-color: #f1f1f1;
  border-radius: 5px;
  padding: 10px;
  margin: 10px 0;
}

/* Darker chat container */
.darker {
  border-color: #ccc;
  background-color: #ddd;
}

.form-container {
  max-width: 300px;
  padding: 10px;
}

.input-container {
  width: 230px;
}

#input {
  height: 20px;
  line-height: 20px;
  vertical-align: middle
}

#send {
  height: 22px;
  line-height: 22px;
  vertical-align: middle;
  text-align: center;
  text-decoration: none;
  display: inline-block;
}
