.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;

  width:100%;
  position:fixed;
}
.App-header-back{
  background-color: #BBDDFF;
  padding : 50px;
  width:100%;
  height: 100%;
}
.App-body {
  padding : 50px;
  padding-top : 250px;
}
.App-link {
  color: #61dafb;
}
.Dialog{
  width: 100%;
  height: auto;
  color: black;
}
.Dialog-A{
  background-color: blue;
  color:white;
}
.Dialog-Q{
  background-color: #BBDDFF;

  color:black;
}
@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
